<%include partials/header.ejs%>

<%include partials/main_nav.ejs%>

  <body>
  <main class="container">
    <div class="row">
      <div class="col-9">
        <h1>Few things about me</h1><br><br><br><br>
      
      </div>
      <div class="col-3">
        <img src="/Assets/images/JahnviSharma.jpeg" alt="pf" width="100" height="150">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="text-center">
         Hello, its Jahnvi and I will share up some content about me. I personally like working on house designings, i.e. Interior designing 
         and my hobbies are painting,dancing and learning new things in cooking. I love shopping and eating things on street.
         I beleive everything in the world is possible if one has high determination and will to do the particular work by working hard.
         So, with that i want to let everyone know, do whatever you like, and never step back when you have decided something to take on;NO MATTER WHAT!

        </h6>
      </div>
    </div>
  </main>

<%include partials/footer_nav.ejs%>

<%include partials/footer.ejs%>
  
    
