<%-include partials/header.ejs%>

<%-include partials/main_nav.ejs%>

  <body>
  <main class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">
        Hello, I am Jahnvi. <br>
        I am a developer. <br>
        Pleasure to meet you.
        </h1>
      </div>
    </div>
    <div class="row row-cols-2">
      <a href="/about">
        <div class="col">
          <div class="card bg-dark text-white">
            <img src="/Assets/images/img1.jpg" class="card-img" alt="about me">
            <div class="card-img-overlay">
              <h5 class="card-title">About me</h5>
            </div>
          </div>
        </div>
      </a>
      <a href="/services">
        <div class="col">
          <div class="card bg-dark text-white">
            <img src="/Assets/images/img2.jpg" class="card-img" alt="services">
            <div class="card-img-overlay">
              <h5 class="card-title">Services</h5>
            </div>
          </div>
        </div>
      </a>
      <a href="/contact">
        <div class="col">
          <div class="card bg-dark text-white">
            <img src="/Assets/images/img3.jpg" class="card-img" alt="contact">
            <div class="card-img-overlay">
              <h5 class="card-title">Contact me</h5>
            </div>
          </div>
        </div>
      </a>
      <a href="/products">
        <div class="col">
          <div class="card bg-dark text-white">
            <img src="/Assets/images/img4.jpg" class="card-img" alt="products">
            <div class="card-img-overlay">
              <h5 class="card-title">Products</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="text-center">.</h1>
      </div>
    </div>
  </main>

<%-include partials/footer_nav.ejs%>

<%-include partials/footer.ejs%>
  
    
