<%-include partials/header.ejs%>

<%-include partials/main_nav.ejs%>

  <body>
  <main class="container">
    <div class="row">
      <div class="col">
        <h1>
        Hello, I am Jahnvi. <br>
        I am a developer. <br>
        Pleasure to meet you.
        </h1>
      </div>
    </div>
  </main>

<%-include partials/footer_nav.ejs%>

<%-include partials/footer.ejs%>
  
    
