<%-include partials/header.ejs%>

<%-include partials/main_nav.ejs%>

  <body>
  <main class="container">
    <div class="row">
      <div class="col">
        <h1>
          <img src="/Assets/images/p.png" alt="responsive text"  ><br><br><br>
          <h2>Scan and convert to pdf</h2>
          <h4> <p>Rather than going to a shop to get your documents to scan and then converting them into pdf.
             A scan and save it to pdf app can help you keep important records such as receipts, documents, 
             report cards, notes, whiteboards etc., on your mobile securely. This app permits you to quickly 
             scan your documents in high quality and store or send them as multipage PDF or JPEG files.</p></h4> <br><br> <br><br> <br><br>
        
         
               <img src="/Assets/images/Aapp.jpg" alt="responsive text" ><br><br><br><br><br>
               <h2>Language learning app</h2>
           <h4>  <p>The language learning app that helps users with some beginner lessons on different 
             languages in one of the most brilliant app ideas for 2020. The app can have different levels
              of difficulty with the first level being alphabets and basic letters to the advanced level
               containing full-fledged conversations. The app can enable voice so the learners know how words
                are pronounced. </p></h4>  <br><br> <br><br> <br><br>
        </h1>
      </div>
    </div>
  </main>

<%-include partials/footer_nav.ejs%>

<%-include partials/footer.ejs%>
  
    
