<%-include partials/header.ejs%>

<%-include partials/main_nav.ejs%>

  <body>
  <main class="container">
    <div class="row">
        <div class="col">
          <div class="card bg-dark text-white">
            <img src="/Assets/images/frontend.jpg" class="card-img" alt="about me">
            <div class="card-img-overlay">
              <h5 class="card-title">Front End</h5>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col">
          <div class="card bg-dark text-white">
            <img src="/Assets/images/backend.jpg" class="card-img" alt="services">
            <div class="card-img-overlay">
              <h5 class="card-title">Back End</h5>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col">
          <div class="card bg-dark text-dark">
            <img src="/Assets/images/database.jpg" class="card-img" alt="contact">
            <div class="card-img-overlay">
              <h5 class="card-title">Database</h5>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col">
          <div class="card bg-dark text-dark">
            <img src="/Assets/images/testing.jpg" class="card-img" alt="products">
            <div class="card-img-overlay">
              <h5 class="card-title">Testing</h5>
            </div>
          </div>
        </div>
        </div>
  </main>

<%-include partials/footer_nav.ejs%>

<%-include partials/footer.ejs%>
  
    
